<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='lib/bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/ngstorage/ngStorage.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/oauth-ng/dist/oauth-ng.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- start bootstrap-material-design -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/css/material-wfont.min.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <!-- end bootstrap-material-design -->

    <title>Hello World!</title>
  </head>
  <body ng-app="app">
    <div class="container">
      <div class="bs-docs-section">
	<div class="row">
	  <div class="col-lg-12">
	    <div class="page-header">
	      <h1>IDEaaS</h1>
	    </div>
	  </div>
	  <div class="col-lg-11">
	    <div class="well bs-component">
	      <form method="POST" action="/" class="form-horizontal">
		{{ form.hidden_tag() }}
		<fieldset>
		  <legend><i class="icon icon-material-add-box"></i> Spawn an new IDE</legend>
		  <div class="form-group">
		    {{ form.display_name.label(for="display_name", class_="col-lg-2 control-label") }}
		    <div class="col-lg-10">
		      {{ form.display_name(size=64, maxlength=64, class_="form-control", placeholder="Choose a name for your IDE") }}
		    </div>
		  </div>
		  <div class="form-group">
		    {{ form.username.label(for="username", class_="col-lg-2 control-label") }}
		    <div class="col-lg-10">
		      {{ form.username(size=32, maxlength=32, class_="form-control", placeholder="Choose an username to login into your new IDE") }}
		    </div>
		  </div>
		  <div class="form-group">
		    {{ form.password.label(for="password", class_="col-lg-2 control-label") }}
		    <div class="col-lg-10">
		      {{ form.password(size=32, maxlength=32, class_="form-control", placeholder="Set a password associated to the previous username") }}
		    </div>
		  </div>
		  <div class="form-group">
		    {{ form.git_clones.label(for="git_clones", class_="col-lg-2 control-label") }}
		    <div class="col-lg-10">
		      {{ form.git_clones(size=64, class_="form-control", placeholder="Add some public git repositories's urls") }}
		      <span class="help-block">This field can be empty. A local git clone will be created automatically for every url, thus populating your workspace. Additional clones can still be added afterwards through the IDE's tools.</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-lg-10 col-lg-offset-2">
                      <button class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</fieldset>
	      </form>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <hr />
    <hr />
    <hr />
    <oauth
       template="{{ url_for('static', filename='views/templates/default.html') }}"
       authorize-path="/oauth2/authorize"
       site="https://account.lab.fi-ware.org"
       client-id="1011"
       redirect-uri="http://requestb.in/17jxjsh1"
       profile-uri="https://account.lab.fi-ware.org/user"
       scope="read&write">
    </oauth>
    <hr />
    <!-- Application:  -->
    <!-- name: Doorkeeper Sinatra Client -->
    <!-- redirect_uri: http://doorkeeper-sinatra.herokuapp.com/callback -->
    <!-- uid: d85134da29244873571049d6ad693acdb40690a1ff5b75c7daa32342ec5269a6 -->
    <!-- secret: e1d5ea37f61702a7be9d3808690c505b40239c26d1bb0f9976ca8bf20f24a95f -->
    <oauth
       template="{{ url_for('static', filename='views/templates/default.html') }}"
       
       site="https://192.168.103.116:3000"
       client-id="a7af4b0df277e0fe7d14d80142ed67f80eb33a55bb77c7fe28614baa8a81c9c8"
       redirect-uri="http://192.168.103.116:8080"
       profile-uri="http://192.168.103.116:8080"
       >
    </oauth>

  </body>
</html>
