<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='lib/bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/ngstorage/ngStorage.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/oauth-ng/dist/oauth-ng.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Hello World!</title>
  </head>
  <body ng-app="app">
    <div>
      <p>
        This is a test.
      </p>
    </div>
    <hr />
    <form method="POST" action="/">
      {{ form.hidden_tag() }}
      {{ form.display_name.label }} {{ form.display_name(size=64, maxlength=64) }}<br/>
      {{ form.username.label }} {{ form.username(size=32, maxlength=32) }}<br/>
      {{ form.password.label }} {{ form.password(size=32, maxlength=32) }}<br/>
      {{ form.git_clones.label }} {{ form.git_clones(size=64) }}<br/>
      <input type="submit" value="Go">
    </form>
    <hr />
    <hr />
    <hr />
    <oauth
       template="{{ url_for('static', filename='views/templates/default.html') }}"
       authorize-path="/oauth2/authorize"
       site="https://account.lab.fi-ware.org"
       client-id="1011"
       redirect-uri="http://requestb.in/17jxjsh1"
       profile-uri="https://account.lab.fi-ware.org/user"
       scope="read&write">
    </oauth>
    <hr />
    <!-- Application:  -->
    <!-- name: Doorkeeper Sinatra Client -->
    <!-- redirect_uri: http://doorkeeper-sinatra.herokuapp.com/callback -->
    <!-- uid: d85134da29244873571049d6ad693acdb40690a1ff5b75c7daa32342ec5269a6 -->
    <!-- secret: e1d5ea37f61702a7be9d3808690c505b40239c26d1bb0f9976ca8bf20f24a95f -->
    <oauth
       template="{{ url_for('static', filename='views/templates/default.html') }}"
       
       site="https://192.168.103.116:3000"
       client-id="a7af4b0df277e0fe7d14d80142ed67f80eb33a55bb77c7fe28614baa8a81c9c8"
       redirect-uri="http://192.168.103.116:8080"
       profile-uri="http://192.168.103.116:8080"
       >
    </oauth>

  </body>
</html>
