<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <!-- start bootstrap-material-design -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/css/material.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/css/material-wfont.min.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bower_components/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <!-- end bootstrap-material-design -->
    
    <title>IDEaas - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div id="banner" class="page-header">
        <h1>IDEaaS</h1>
        <p class="lead">By TAI</p>
      </div>
      {% block section %}{% endblock %}
    </div>
  </body>
</html>
